@use '/src/apps/styles/basics/common.scss' as common;
@use '/src/apps/styles/basics/vars.scss' as *;

.calender-row__cell {
	flex: 1;
	font-size: 0.8em;
	display: table-cell;
	border: 0.4px solid $ac-gray-6;
	max-width: 14.285714%;

	.calender-row__day {
		border-bottom: 0.4px solid $ac-gray-6;
		width: 100%;
		text-align: center;
		line-height: 18px;
		color: $ac-gray-4;
	}

	.calender-row__content {
		height: auto;
		min-height: 80px;
		padding: 2px 0 8px 5px;
		cursor: pointer;
	}

	.calender-row__company {
		@include common.flex-row(normal, center);
		font-size: 13px;
		height: 100%;
		position: relative;
		margin-top: 2px;

		&.checked {
			opacity: 50%;
		}
	}

	.calender-row__label {
		color: #fff;
		font-size: 10px;
		border-radius: 4px;
		height: 14px;
		width: 14px;
		margin-right: 3px;
		text-align: center;
		line-height: 14px;

		&.start {
			background-color: $primary-color;
		}
		&.end {
			background-color: $secondary-color;
		}
	}

	.calender-row__name {
		max-width: calc(100% - 24px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 18px;
	}

	img {
		opacity: 0.1;
	}
}
