@use '/src/apps/styles/basics/common.scss' as common;
@use '/src/apps/styles/basics/vars.scss' as *;
.modal-container {
	z-index: 100;
	display: flex;
	flex-direction: column;

	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	justify-content: center;
	align-items: center;
	animation: dimmedActive 0.4s cubic-bezier(0.33, 1, 0.68, 1) both;
	padding: 47px 0;
}

.modal-title {
	margin: 20px 30px 10px 0;
	margin-bottom: 10px;

	.modal-title__close-btn {
		float: right;
		img {
			width: 12px;
			height: 12px;
		}
	}
}

.modal-content {
	background-color: #fff;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 200px;
	min-width: 750px;
	position: relative !important;
	word-break: keep-all;

	animation: modalActive 0.4s cubic-bezier(0.33, 1, 0.68, 1) both;
	animation-delay: 0.2s;
}

@keyframes dimmedActive {
	0% {
		background-color: transparent;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes modalActive {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
