$primary-color: #ff6813;
$secondary-color: #3f4b5e;
$third-color: #fda676;

$default-color: #f9fafc;

$background-color: #f9f9f9;
$text-color: #333333;

$ac-gray-0: #fafafa;
$ac-gray-1: #eeeeee;
$ac-gray-2: #bbbbbb;
$ac-gray-3: #777777;
$ac-gray-4: #555555;
$ac-gray-5: #333333;
$ac-gray-6: #dddddd;
