$primary-color: #ffeb00;
$secondary-color: #313955;
$default-color: #f9fafc;

$background-color: #f9f9f9;
$text-color: #060b11;

$oc-green-2: #00a86b;

$oc-gray-0: #f3f3f3;
$oc-gray-1: #dedede;
$oc-gray-2: #e9efec;
$oc-gray-3: #dee2e6;
$oc-gray-4: #ced4ea;
$oc-gray-5: #adb5bd;
$oc-gray-6: #cccccc;
$oc-gray-7: #495057;
