@use '/src/apps/styles/basics/common.scss' as common;
@use '/src/apps/styles/basics/vars.scss' as *;

.filter__container {
	width: 90%;
	margin-left: 50px;
}
.filter__top {
	margin-bottom: 10px;
}
.category-filter {
	position: relative;
	display: flex;
	gap: 32px;

	.category-filter__button {
		@include common.flex-row(center, center);
		font-size: 24px;
		font-weight: 700;

		.button__border {
			@include common.size(24px, 24px);
			border: 1px solid $ac-gray-2;
			border-radius: 4px;
			margin-left: 6px;
		}

		img {
			transform: rotate(90deg);
		}
	}
}
